@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./assets/Inter.ttf") format("truetype");
}

html,
body,
#root,
.App {
  height: -webkit-fill-available;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: hsl(0, 0%, 20%);
  overflow: hidden;
}

* {
  font-family: "Inter";
}
