.glassBox {
  backdrop-filter: blur(10px);
  background: transparent;
  border-radius: 10px;
  z-index: 2;
  transition: height 0.5s ease;
  box-shadow: inset 0px 0px 40px 1px hsl(0, 0%, 0%, 20%);
  height: 100%;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  grid-area: unit;
}

.padding {
  padding: 70px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.padding2 {
  padding: 10%;
  height: -webkit-fill-available;
  overflow: hidden;
}

@media (max-width: 500px) {
  .padding {
    padding: 10%;
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

b {
  color: hsl(210, 90%, 70%);
  cursor: pointer;
}

.logInCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}

.backGrid {
  display: grid;
  grid-template: "unit";
  height: -webkit-fill-available;
}

.background {
  grid-area: unit;
  display: flex;
  overflow: hidden;
}

input {
  outline: none;
  border: 1px solid hsl(0, 0%, 125%);
  background: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: max-content;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
button {
  background: hsl(200, 50%, 50%);
  border: none;
  padding: 5px 10px;
  transition: all 0.1s ease-in-out;
}

button:hover {
  background: hsl(200, 60%, 45%);
  transform: scale(1.1);
}

.signUpButton {
  background: hsl(0, 0%, 25%);
}

.signUpButton:hover {
  background: hsl(0, 0%, 15%);
}

.ball {
  height: 400px;
  width: 200px;
  border-radius: 50%;
  z-index: 0;
  filter: blur(50px);
}

.ball:nth-child(1) {
  background: hsl(200, 60%, 40%);
  translate: 100px 50px;
  transform-origin: 300px 100px;
  height: 200px;
  width: 300px;
  animation: move 10s ease-in-out infinite;
}

.ball:nth-child(2) {
  background: hsl(250, 50%, 50%);
  translate: 99px, 300px;
  transform-origin: 300px 300px;
  animation: move 10s ease-in-out infinite;
}

.ball:nth-child(3) {
  background: hsl(300, 50%, 50%);
  transform-origin: 0px 0px;
  height: 200px;
  width: 400px;
  animation: move 15s ease-in-out infinite;
}

.ball:nth-child(4) {
  background: hsl(150, 60%, 45%);
  translate: -100px 100px;
  transform-origin: 0px 300px;
  animation: move 12s ease-in-out infinite;
}

p,
input {
  color: hsl(0, 0%, 80%);
}
h1 {
  color: hsl(210, 80%, 50%);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes move {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
